  <!-- <%= will_paginate @comment %> -->

 <% if @comment.any?%>
   <% @comment.each do |comment| %>
   <div class="boder_comment">
     <h3><%= comment.content%> </h3>
     <h6><b>comment by:</b><%= comment.user.name%></h6>
     <h6><b>created_at:</b><%= comment.created_at%> </h6>
     </div>
   <% end %> 
    <%else%>
   <p class="messages"><i><b>Entry nay chua co comment nao!</b></i></p>
<%end%>

  <%= will_paginate @comment %>