<!--    <%= will_paginate @comment %> -->

 <% if @comment.any?%>
   <% @comment.each do |comment| %>
   <div class="boder_comment">
     <h5>comment by:<%= comment.user.name%></h5>
     <h6>created_at:<%= comment.created_at%> </h6>
     <h5><%= comment.content%> </h5>
     </div>
   <% end %> 
    <%else%>
   <p class="messages"><i><b>Entry nay chua co comment nao!</b></i></p>
<%end%>

  <%= will_paginate @comment %>